* {
    font-family: 'Comfortaa', cursive;
}

body {
    background-color: #1576F5;
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.container {
    background-color: #FFFFFF;
    height: 35%;
    width: 30%;
    border-radius: 10px;
    box-shadow: #b5b7b8 1px 1px 5px 0px;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h2 {
    margin-top: 10vh;
    font-weight: 800;
}

.button {
    background-color: #F3F1F1;
    border: none;
    width: 100%;
    padding: 0.7rem;
    border-radius: 10px;
}

a {
     color: #FFFFFF; 
     text-decoration: none;
}


@media screen and (max-width:1000px){
    h2 {
        margin-top: 5vh;
    }
}

@media screen and (max-width:800px){
    h2 {
        margin-top: 5vh;
        font-size: 20px;
    }
}

@media screen and (max-width:560px){
    h2 {
        margin-top: 5vh;
        font-size: 17px;
        }
}


@media screen and (max-width:414px){
    .container {
        width: 50vw;
    }
    h2 {
        margin-top: 5vh;
        font-size: 18px;
    }
}